{%load static%}
<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
    <head>
        {% include "global/partials/_head.html" %}
    </head>
    <body>
        <header>
            {% include "global/partials/_header.html" %}
        </header>
        <h1>Cadastrar Medico</h1>

        <form method='POST'>
            {% csrf_token %}

            {{form.as_p}}

            <button type='submit'>Salvar</button>



        </form>
        <footer>
            {% include "global/partials/_footer.html" %}
        </footer>
    </body>
</html>