{% load static %}
<div class="footer">
    <div class="footer-container">
        <p class="footer-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla nostrum tempora 
            placeat sed? Qui quis, nesciunt repellat praesentium quam omnis saepe assumenda nihil error quia eos dolorum ipsa eaque?
        </p>
            <ul class="footer-contato">
                <li><a href="fael.anjos@gmail.com">Email</a></li>
                <li><a href="#"></a>21-2569-6969</li>
                <li><a href="https://github.com/Faelanjos/_sistema_clinica">GitHub</a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
            <p class="footer-copy">Consulta-me. Alguns direitos reservados
                
            </p>
    </div>
</div>